@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

#nest-nine {
  margin-top: 20px;
}

#nest-nine mg {
  vertical-align: middle;
  max-width: 100%;
}

#nest-nine ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nest-nine h1:not(.container)
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#nest-nine .container h1 {
  font-family: Lobster, Georgia, sans-serif;
  font-size: 24px;
  color: #555358;
  text-align: center;
  margin: 0 0 2rem;
  
  @media screen and (min-width: 800px) {
    font-size: 4rem;
  }
}

#nest-nine .container {
  max-width: 800px;
  width: 90%;
  margin: auto;
}

#nest-nine .board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  
}

#nest-nine .card {
  position: relative;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
  background: lime;
  padding-bottom: 100%;
  border-radius: 5px;
  cursor: pointer;
  color: #ccc;
  font-size: 12.5vw;
    
  
  @media screen and (min-width: 800px) {
    font-size: 100px; // 12.5vw / 100 * 800
  }
  
    
  
}
#nest-nine .card.is-match {
      color: #fff;
      background-color: #99ce2a;
      animation: match 0.5s ease-in-out;
      cursor: default;
  }

  #nest-nine .card:before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

#nest-nine .card.fa-pagelines:before {
  background-image: url(https://www.communiacs.de/typo3conf/ext/theme/Resources/Public/Assets/img/logo-scribble-small.png);
}

#nest-nine .card.fa-jga:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/memory-1.jpg');

}

#nest-nine .card.fa-csd:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/memory-2.jpg');
}

#nest-nine .card.fa-oktoberfest:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/memory-3.jpg');
}

#nest-nine .card.fa-jga2:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/memory-4.jpg');

}

#nest-nine .card.fa-csd2:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/memory-5.jpg');
}

#nest-nine .card.fa-oktoberfest2:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/memory-6.jpg');
}


@keyframes match {
  0% {
    transform: scale(1);
  }
  
  40% {
    transform: scale(1.08);
  }
  
  60% {
    transform: scale(1.0);
  }
  
  80% {
    transform: scale(1.05);
  }
  
  100% {
    transform: scale(1);
  }
}